.cover__text {
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
    margin: auto;
    color: #fff;
    z-index: 1;
}

@media screen and (max-width: 550px) {
    .cover__text {
        max-width: 288px;
    }
}
