.lead__subtitle {
    max-width: 640px;
    margin-top: 32px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin-top: 16px;
        padding: 0 24px;
        font-size: 22px;
        line-height: 28px;
    }
}

@media screen and (max-width: 448px) {
    .lead__subtitle {
        padding: 0 16px;
        font-size: 16px;
        line-height: 20px;
    }
}