.place {
    display: grid;
    grid-template-columns: minmax(400px, 460px) minmax(400px, 484px);
    grid-template-areas:
        "title website"
        "image text";
    grid-gap: 40px 48px;
    width: 100%;
    margin-top: 80px;
}

.place:first-child {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(2, minmax(340px, 440px));
        grid-column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: minmax(280px, 340px) minmax(280px, 370px);
        grid-column-gap: 28px;
        margin-top: 73px;
    }
}

@media screen and (max-width: 680px) {
    .place {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        width: 320px;
    }
}