.place__url-heading {
    margin-bottom: 12px;
    font-family: 'Inter-Regular';
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #AAAAAA;
}