.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 12px;
}

@media screen and (max-width: 767px) {
    .place__website {
        width: 464px;
        align-self: center;
    }
}


@media screen and (max-width: 511px) {
    .place__website {
        width: 288px;
    }
}